@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 194.93 100% 44.9%; /* AWI_EisBlau */
    --primary-foreground: 0 0% 0%;
    --secondary: 206.18 100% 21.57%; /* AWI_TiefBlau */
    --secondary-foreground: 0 0% 100%;
    --gray-1: 0 0% 29.41%; /* AWI_Grau-1 */
    --gray-2: 220 2.29% 74.31%; /* AWI_Grau-2 */
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 194.93 100% 44.9%; /* AWI_EisBlau */
    --primary-foreground: 0 0% 0%;
    --secondary: 206.18 100% 21.57%; /* AWI_TiefBlau */
    --secondary-foreground: 0 0% 100%;
    --gray-1: 0 0% 29.41%; /* AWI_Grau-1 */
    --gray-2: 220 2.29% 74.31%; /* AWI_Grau-2 */
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: Vollkorn;
  src: url('../public/fonts/vollkorn/Vollkorn-Regular.woff2') format('woff2'),
       url('../public/fonts/vollkorn/Vollkorn-Regular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: Vollkorn;
  src: url('../public/fonts/vollkorn/Vollkorn-Bold.woff2') format('woff2'),
       url('../public/fonts/vollkorn/Vollkorn-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: Vollkorn;
  src: url('../public/fonts/vollkorn/Vollkorn-Italic.woff2') format('woff2'),
       url('../public/fonts/vollkorn/Vollkorn-Italic.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: Vollkorn;
  src: url('../public/fonts/vollkorn/Vollkorn-BoldItalic.woff2') format('woff2'),
       url('../public/fonts/vollkorn/Vollkorn-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}


* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  /* background-color: #333236; */
  background: linear-gradient(#121214, #272629);
  color: #d0cfd6;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#auth-form {
  width: 90%;
  max-width: 40rem;
  border-radius: 6px;
  padding: 3rem 4rem;
  margin: 5rem auto;
  background-color: #b8b4c3;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

#auth-form img {
  display: block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin: 1rem auto;
  filter: drop-shadow(0 0 6px rgba(30, 30, 32, 0.3));
}

#auth-form label {
  display: block;
  margin-bottom: 0.15rem;
  font-weight: bold;
  color: #46454a;
}

#auth-form input {
  font: inherit;
  width: 100%;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  background-color: #d9d7df;
  color: #46454a;
}

#auth-form button {
  width: 100%;
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #4b34a9;
  color: #d0cfd6;
  border-radius: 3px;
}

#auth-form button:hover,
#auth-form button:active {
  background-color: #432aa3;
}

#auth-form a {
  color: #564f6e;
  text-decoration: none;
  display: block;
  margin: 1rem 0;
  text-align: center;
}

#auth-form a:hover {
  color: #4b34a9;
}

#form-errors {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #a21d4c;
}

#auth-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50rem;
  margin: 2rem auto;
}

#auth-header p {
  font-size: 1.25rem;
}

#auth-header button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #6f34a9;
  color: #d0cfd6;
  border-radius: 3px;
}

#auth-header button:hover,
#auth-header button:active {
  background-color: #5f2a8a;
}

main {
  max-width: 50rem;
  margin: 2rem auto;
}